<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <link rel="stylesheet" href="http://jashkenas.github.com/docco/resources/docco.css">
  <style type="text/css">
  #background {
    left: 920px;
  }
  td.docs, th.docs {
    width: 845px;
    min-width: 845px;
    max-width: 845px;
  }
  img {
    margin-left: 20px;
    border: solid 1px #F5F5FF;
    max-width: 66%;
  }
  pre {
    overflow-y:scroll;
    overflow-x:auto;
    background: ghostWhite;
    border: 1px solid #DEDEDE;
    padding: 0 0.2em;
  }
  ul li code {
    background: ghostWhite;
    border: 1px solid #DEDEDE;
    padding: 0 0.2em;
  }
  </style>
</head>
<body>
<div id='container'>
  <div id="background"></div>
  <table cellspacing=0 cellpadding=0>
  <tbody>
    <tr id='section-1'>
      <td class=docs>
        <div class="pilwrap">
          <a class="pilcrow" href="#section-1">&#182;</a>
        </div>
        {{{ docs }}}
      </td>
    </tr>
  </table>
</div>
</body>
